
@media (max-width: 1600px){
  .info-img img {
    width: 520px;
  }
  .info__inner{
    padding: 0;
    margin-bottom: 0;
  }
  .transport__inner{
    padding: 40px 0;
  }
  .nav-tab-1{
    top: 4%;
  }
  .nav-tab-3 {
    bottom: 4%;
  }
  .info__inner{
    margin-bottom: 5px;
  }

  .charger{
    padding: 90px 0 100px;
  }
  .contacts__inner{
    padding: 30px 0 55px;
  }
}
@media (max-width: 1366px){
    .info__inner {
    margin-bottom: 20px;
    padding: 15px 0;
  }
  .info-img{
    img{
      width: 430px;
    }
  }
  .info-text{
    margin: 40px 0;
  }
  .info-title {
    font-size: 40px;
    line-height: 80px;
    h1{
      margin-bottom: 20px;
    }
  }
    .tab.active{
    .nav-tab{
      width: 130px;
      height: 130px;
    }
  }
  .nav-tab{
    width: 100px;
    height: 100px;
    img{
      width: 90px;
    }
  }
  .nav-tab-1{
    top: 5%;
  }  
  .nav-tab-3{
    bottom: -5%;
  }
  .transport__inner{
    padding: 0;
  }
  .about__inner{
    padding-top: 35px;
  }
  .controls {
    right: 60px;
  }
  .nav-tab-2{
    right: 100px;
  }
  .app-img{
    img{
      width: 330px;
    }
    top: -48px;
  }
  .contacts-menu{
    margin-top: 40px;
  }
  .contacts-map {
    margin-top: 115px;
  }

}

@media (max-width: 1280px){
  .info__inner{
    padding: 30px 0;
  }
  .nav-tab-3 {
    bottom: -20%;
  }
  .controls {
    bottom: 44%;
  }
  .nav-tab-2{
    top: 48%;
  }

}
@media (max-width: 1024px){
  .contacts-map{
    iframe {
      width: 400px;
      height: 360px;
    }
  }
  .contacts-info {
    width: 476px;
  }
  .city {
    font-size: 38px;
  }
  .app__info {
    padding: 70px 30px;
  }
  .app__info-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .dark-title {
    font-weight: 900;
    font-size: 59px;
    line-height: 80px;
  }
  .charger-img{
    &::after{
      top: -60px;
      width: 120px;
      height: 120px;
    }
    &::before{
      width: 120px;
      height: 120px;
    }
    img{
      max-width: 470px;
    }
  }
  .nav-tab-1 {
    top: 3%;
  }
  .nav-tab-2 {
    right: 65px;
  } 
  .nav-tab-3 {
    bottom: -21%;
  }
  .controls {
    right: 35px;
  }
  .transport__inner{
    .block-info {
      padding-top: 170px;
      max-width: 355px;
    }
  }
  .transport__item-img{
    width: 100%;
    height: 251px;
  }
  .transport__item{
    padding: 25px 25px;
    border-radius: 45px;
    img{
      width: 220px;
    }
  }
    .block-info {
    padding-top: 55px;
    max-width: 430px;
  }
  .transport-info {
    margin-left: 90px;
  }
  .wrapper-title {
    left: 14%;
    font-size: 52px;
  }
  .about__inner {
    padding-top: 80px;
  }
  .about-title {
    width: 315px;
    font-size: 105px;
    left: 74%;
  }
  .text {
    font-size: 18px;
  }
  .title {
    line-height: 50px;
    font-size: 34px;
  }
  .about__item-slider{
    max-width: 410px;
  }
  .about__slider {
    max-width: 410px;
  }
  .about__slider img {
    width: 410px;
  }
  .info-img img {
    width: 400px;
  }
  .info-text {
    font-size: 19px;
  }
  .info__link-item a {
    padding: 11px 50px;
  }
  .info-title {
    font-size: 34px;
    line-height: 68px;
    max-width: 485px;
  }
}
@media (max-width: 768px){
  .head {
    height: auto;
  }
  .about{
    height: auto;
  }
  .about__item{
    width: 100%;
  }
  .about__slider{
    img {
      width: 280px;
    }
  } 
  .about__item-slider{
    max-width: 280px;
    margin: 0 auto;
  }
  .about__inner{
    flex-wrap: wrap;
  }
  .about-title {
    left: 55%;
    top: 33%;
  }
  .transport__inner .block-info {
    padding-top: 55px;
    max-width: 100%;
  }
  .transport-info{
    margin-left: 0;
  }
  .wrapper-title {
    left: 28%;
    font-size: 47px;
    top: 24%;
  }
  .controls{
    display: none;
  }
  .nav-tab-2{
    top: 23%;
  }
  .nav-tab-3{
    top: 43%;
  }
  .nav-tab{
    right: 12%;
  }
  .tab_content{
    margin-top: 30px;
    padding-left: 50px;
  }
  .transport{
    height: auto;
  }
  .transport__item{
    &-img{  
      height: 188px;
    }
    img{
      width: 170px;
    }
  }
  .transport__inner{
    flex-wrap: wrap;
  }
  .title::after{
    left: 40%;
  }
  .more-link{
    margin-top: 20px;
    text-align: center;
  }
  .block-info{
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  .text{
    margin: 0 auto;
  }
  .info__link-item {
    text-align: center;
  }
  .info-text {
    width: 100%;
    width: 500px;
    margin: 60px auto;
  }
  .info-item{
    max-width: 100%;
    width: 100%;
  }
  .info-title{
    max-width: 100%;
    h1:first-child {
      text-align: center;
    }
    h1:last-child{
      text-align: center;
    }
  }
  .info-img{
    width: 100%;
    text-align: center;
    order: -1;
    img{
      max-width: 250px;
    }
  }
  .info__inner{
    flex-wrap: wrap;
    padding: 15px 0;
  }
  .header__menu li+li {
    margin-left: 20px;
  }




  .charger {
    padding: 50px 0 100px;
    height: auto;
  }
  .charger-img::before{
    left: 32px;
  }
  .charger-photo{
    text-align: center;
    width: 100%;
    order: -1;
  }
  .charger__inner{
    flex-wrap: wrap;
  }
  .app {
    padding: 75px 0;
    height: auto;
  }
  .app-img {
    img{
      width: 300px;
    }
    right: 20px;
    top: -24px;
  }
  .app__info-title {
    font-size: 34px;
  }
  .app__info-text {
    color: #B4B4B4;
    font-size: 19px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    max-width: 360px;
  }
  .app__info-link a+a {
    margin-left: 23px;
  }
  .contacts {
    height: auto;
    padding-bottom: 45px;
  }
  .contacts__inner{
    flex-wrap: wrap;
  }
  .contacts-info {
    width: 100%;
    text-align: center;
  }
  .contacts-menu{
    margin: 40px auto;
  }
  .contacts-map {
    margin-top: 0px;
    width: 100%;
    iframe{
      width: 100%;
    }
  }
  .contacts-menu li+li {
    margin-top: 30px;
  }
  .city{
    display: none;
  }
}


@media (max-width: 720px){
  .info__inner {
    padding: 40px 0;
  }
  .info-img img {
    max-width: 400px;
  }
  .about__slider img {
    width: 430px;
  }
  .about__item-slider {
    max-width: 430px;
    margin-bottom: 40px;
  }
  .about-title{
    width: 358px;
    left: 64%;
    top: 32%;
    font-size: 120px;
  }
}
@media (max-width: 600px){
  .header__menu{
    background: radial-gradient(68.15% 68.15% at 51% 24.01%, #212121 0%, #111111 100%);
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    text-align: center;
    li{
      display: block;
      a{
        display: block;
        padding: 10px 0;
        &:hover{
          background-color: #fff;
          color: #161616;
        }
      }
      & + li{
        margin-left: 0;
        
      }
    }
  }
}
@media (max-width: 480px){
  .head {
    height: auto;
    margin-bottom: 25px;
  }
  .info__inner{
    padding: 10px 0;
    margin-bottom: 10px;
  }
  .info-img img {
    max-width: 200px;
  }
  .info-title {
    h1{
      margin-bottom: 5px;
    }
    font-size: 27px;
    line-height: 60px;
  }
  .info-text {
    margin: 15px 0;
    width: 100%;
    font-size: 17px;
    text-align: center;
  }
  .info__link-item{
    display: flex;
    justify-content: space-around;
    a {
      margin-left: 0;
      padding: 15px 63px;
      font-size: 14px;
    }
  } 
  .info-link__down{
    margin-left: 15px;
  }
  .about__inner {
    padding: 60px 0;
  }
  .about__slider {
    max-width: 200px;
  }
  .about__slider img {
    width: 200px;
  }
  .about__item-slider {
    max-width: 200px;
    &::after {
      content: '';
      position: absolute;
      width: 128px;
    }
  }
  .block-info {
    padding-top: 13px;
  }
  .slick-arrow{
    img{
      object-fit: cover;
      width: 40px;
    }
  }
  .about-title {
    width: 200px;
    left: 57%;
    top: 36%;
    font-size: 67px;
    line-height: 59px;
  }
  .tab_content{
    padding-left: 0;
  }
  .trnasport__item-name{
    span{
      font-size: 20px;
    }
  } 
  .transport__item-box{
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .transport__item-box div {
    font-size: 15px;
  }
  .transport__item-bottom a {
    font-size: 13px;
  }
  .nav-tab {
    right: 0%;
  }
  .wrapper-title {
    font-size: 41px;
    top: 22%;
  } 
  .title {
    font-size: 32px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .text {
    font-size: 15px;
  }
  .transport__inner .block-info{
    padding-top: 13px;
  }
  .charger-img img {
    max-width: 330px;
  }
  .charger-img::after {
    top: -40px;
    width: 82px;
    height: 82px;
  }
  .charger-img::before {
    bottom: -20px;
    width: 82px;
    height: 82px;
  }
  .dark-title {
    font-size: 49px;
    line-height: 60px;
  }
  .app__info {
    text-align: center;
  }
  .app-img{
    display: none;
  }
  .contacts-bottom{
    margin: 0;
  }
  .contacts-map iframe {
    height: 215px;
  }
  .contacts-bootom__link a {
    font-size: 15px;
    padding: 14px 15px;
    &::before {
      width: 95px;
    }
    &::after {
      width: 95px;
    }
  }
  .info-link__social li+li {
    margin-left: 20px;
  }
  .footer__inner{
    flex-wrap: wrap;
    text-align: center;
  }
  .footer-copy{
    width: 100%;
  }
  .footer-policy{
    width: 100%;
  }
}
@media (max-width: 375px){
  .info__inner{
    margin-bottom: 25px;
  }
  .header__menu{
    top: 70px;
  }
  .header__inner {
    height: 70px;
  }
  .info-img img {
    max-width: 140px;
  }
  .info-title {
    font-size: 25px;
    line-height: 50px;
  }
  .info__link-item{
    .link-city::before {
      width: 110px;
    }
    .link-city::after {
      width: 110px;
    }
    a {
      margin-left: 0;
      padding: 10px 30px;
    }
  } 
  .info-link__down{
    display: none;
  }
  .about__inner {
    padding-bottom: 45px;
  }
  .text{
    line-height: 24px;
  }
  .title {
    font-size: 25px;
  }
  .about__item-slider::after{
    right: -50px;
  }
  .transport__inner{
    padding: 45px 0;
  }
  .wrapper {
    width: 100%;
  }
  .wrapper-title{
    position: static;
    transform: rotate(0deg);
    width: 100%;
    text-align: center;
    font-size: 35px;
    line-height: 70px;
  }
  .tab_content{
    margin-top: 0;
  }
  .nav-tab{
    position: static;
    width: 30px;
    height: 30px;
    img{
      display: none;
    }
  }
  .tab.active .nav-tab {
    width: 30px;
    height: 30px;
  }
  .tabs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .transport__inner .block-info {
    padding-top: 25px;
  }
  .title::after {
    left: 30%;
  }
  .charger{
    height: auto;
    padding: 50px 0 0;
  }
  .charger-img::after {
    top: -25px;
    right: 0px;
  }
  .charger-img::before {
    left: 0px;
  }
  .app{
    height: auto;
    padding: 70px 0;
  }
  .app__info {
    padding: 64px 0px;
  }
  .app__info-link {
    display: flex;
    justify-content: space-around;
    a{
      font-size: 15px;
    }
  }
  .contacts-bottom {
    margin-bottom: 20px;
    flex-wrap: wrap;
    text-align: center;
  }
  .contacts-bootom__link{
    width: 100%;
    margin-bottom: 20px;
  }
  .info-link__social{
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 360px){
  .head{
    margin-bottom: 20px;
  }
  .info__inner {
    margin-bottom: 10px;
  }
  .app__info {
    padding: 25px 0px;
  }

}
@media (max-width: 320px){
  .info-title {
    font-size: 20px;
    line-height: 40px;
  }
  .info-img img {
    max-width: 85px;
  }
  .charger-img img {
    max-width: 260px;
  }
  .charger-img::after {
    width: 60px;
    height: 60px;
  }
  .charger-img::before {
    width: 60px;
    height: 60px;
  }
  .app__info-title {
    font-size: 25px;
  }
  .app__info-text{
    font-size: 16px;
  }
  .app__info-link a{
    padding: 10px 20px;
  }
  .contacts-menu li{ 
    flex-wrap: wrap;
    span,a{
      text-align: right;
      width: 100%;
      margin-top: 10px;
    }
  }
}



@media (min-width: 600px){
  .burger-row{
    display: none;
  }
}
